html{
	width:400px;
	height:600px;
}
html, body, h1, h2, h3, h4, h5, h6, canvas{
	margin:0;
	padding:0;
}
canvas{
	position: absolute;
	left:0;
	top:0;
}
body{
	background: #00BA9F;
	text-align: center;
	color:#373947;
	font-family: 'Aldrich', sans-serif;
	font-weight: 100;
	font-size: 15px;
}
h1{
	margin:3%;
	font-size: 50px;
}
h4{
	font-size: 30px;
}
#home{
	margin-top: 50px;
	margin-bottom: 50px;
}
#main span{
	text-align: center;
	display: inline-block;
}
#main{
	position: relative;
	left:0;
	right:0;
	margin:auto;
	text-align: left;
	width:400px;
}
#level{
	width: 55%;
	color:#fff1a9;
	text-align: center;
}
#level1, #level2{
	width: 15%;
}
#level1:hover, #level2:hover{
    cursor: pointer;
}
#hs{
	width:75%;
}
#high_score{
	width:15%;
	color:#8BDFBD;
}
#start{
	margin:0;
	padding:20px;
	border:none;
	background-color: #BA4F54;
	font-size:40px;
	color:#373947;
	border-radius: 25px;
	letter-spacing: 5px;
	margin:20%;
}
#start:hover{
	background-color: #FFB085;
	cursor: pointer;
	color:#BA4F54;
}
#menu_bar{
	background-color: #BA4F54;
	width:392px;
	padding: 0.5%;
	margin:0.5%;
	margin-bottom: 0;
	position: relative;
	overflow: scroll;
	display: block;
	font-size: 30px;
}
#menu_bar span{
	width:30%;
	margin:0;
	padding:0;
	display: inline-block;
}
#timer{
	text-align: left;
}
#score{
	text-align: right;
}
#board{
	background: #c1f0f3;
	width:389px;
	height:563px;
	position:relative;
	display: block;
	margin: 0 1.5%;
}